// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Color
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$palette: (
  base: (
    base: #faf6f2,
  ),
  font: (
    base: #2b2b2b,
    thin: #5e5e5e,
  ),
  accent: (
    base: #c7a24c,
  ),
  bk: (
    base: #000,
  ),
  wt: (
    base: #fff,
  ),
  gry: (
    base: #ccc,
    thin: #eee,
  ),
  grn: (
    base: #0b9b8a,
    thin: #97e8de,
    ylw: #65ae0c,
  ),
  pink: (
    base: #f596a1,
    thin: #fadeeb,
  ),
) !default;
